<h1>Quizzy Quiz</h1>
<div id="quizzes-display">
</div>

<script type="text/template" class="quizzes-template">
  <h3>Here are the quizzes</h3>
  <div id="quiz-creation">
    <form>
      <div>
        <input id="create-quiz" type="text" name="create-quiz" placeholder="Create New Quiz">
      </div>
      <input type="submit" id="create-new-quiz">
    </form>
  </div>
  <ul>
    <%% _.each(quizzes, function(quiz) { %>
      <li class="quiz" data-id="<%%= quiz.id %>"><%%= quiz.title %></li>
    <%% }); %>
  </ul>
</script>

<script type="text/template" class="quest-template">

    <div class="quest-content" id="<%%= question.id %>">
      <p><%%= question.question %></p>
      <select name="question" class="ans-content">
        <%% _.each(question.choices, function(e) { %>
          <option value="<%%= e %>"><%%= e %></option>
        <%% }); %>
      </select>
      <input type="submit" class="submission">
    </div>

</script>

<script type="text/template" class="new-question-template">
  <div id="question-creation">
    <form>
      Question: <input id="question" type="text" name="question"><br>
      Answer: <input id="answer" type="text" name="answer"><br>
      <div>
        Choices:<input id="choices" type="text" name="choices"><-Enter answer choices here separated by semi-colons (no spaces)<br>
      </div>
      <input type="submit" class="add-question">
    </form>
  </div>  

</script>