<h1>Quizzy Quiz</h1>
<div id="quizzes-display">
</div>

<script type="text/template" class="quizzes-template">
  <h3>Here are the quizzes</h3>
  <ul>
    <%% _.each(quizzes, function(quiz) { %>
      <li class="quiz" data-id="<%%= quiz.id %>"><%%= quiz.title %></li>
    <%% }); %>
  </ul>
</script>

<script type="text/template" class="quest-template">

    <div class="quest-content" id="<%%= question.id %>">
      <p><%%= question.question %></p>
      <select name="question" class="ans-content">
        <%% _.each(question.choices, function(e) { %>
          <option value="<%%= e %>"><%%= e %></option>
        <%% }); %>
      </select>
      <input type="submit" class="submission">
    </div>

</script>