<h2>Quizzy Quiz</h2>

<script type="text/template" class="my-template">
    <div class="content">
      <h3 class="quiz-title" id="<%%= content.id %>"><%%= content.title %></h3>
    </div>
</script>

<script type="text/template" class="quest-template">
    <div class="quest-content" id="<%%= content.id %>">
      <p><%%= content.question %></p>
      <select name="question">
        <%% _.each(content.choices, function(e) { %>
          <option value="<%%= e %>"><%%= e %></option>
        <%% }); %>
      </select>
      <input type="submit" class="submission">
    </div>
</script>

<div id="quizzes-display">
</div>

<div id="questions-display">
</div>


